.vscode/
.lintr
**/__pycache__/
*.pyc
data/**/**/**/*.png
data/**/**/**/*.pt
data/**/**/**/*.csv
data/**/**/**/*.json
data/**/**/**/*.pdf
data/**/**/**/*.gpkg
data/**/**/**/*.xlsx
results/figures/**/*.png
