# VSCode settings
.vscode/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
.env/
.venv/

# R-related ignores
.Rproj.user/
.Rhistory
.Rprofile
.RData
.Ruserdata
.lintr

# Jupyter notebooks auto-saves
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.out
*.err

# Data files (ignore all but allow a specific folder if needed)
data/**/*

# Ignore specific data formats
*.csv
*.json
*.pdf
*.gpkg
*.xlsx
*.gz
*.npz
*.pkl

# Code outputs and binaries
codes/**/*.exe
codes/**/*.ttf
codes/**/*.json

# Figures and results
results/figures/**/*.png

# Git attributes file (optional to keep)
.gitattributes

# Renv
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/
renv/.gitignore
!renv/*.json
